.page-header {
    background-color: #337fb1;
    color: #fff;
}
.page-header,
.page-header>h3,
.registration-form h4 {
    margin:0px;
}
.page-header,
.registration-form h4,
.registration-form .form-container ,
.registration-form .form-footer {
    padding: 20px;
}
.registration-form h4 {
    border-bottom: 1px solid #eee;
}
.registration-form {
    width: 500px;
    margin: 0 auto;
    border: 1px solid #eee;
    box-shadow: 0px 0px 9px 2px #eee;
    margin-top: 30px;
}
.registration-form .form-container {
    height: calc(100vh - 283px);
    overflow: hidden;
    overflow-y: auto;
}
.registration-form .form-footer {
    border-top: 1px solid #eee;
}
.reg-save,
.reg-reset {
    min-width: 100px;
}
.reg-save {
    margin-right: 10px;
}
.error-wrapper p,
.required-symbol {
    color: red;
}
.error-wrapper p {
    margin: 0px;
    font-size: 13px;
}
.required-symbol {
    vertical-align: text-bottom;
    font-weight: 500;
}